
<div>
            <!-- Navbar start -->
            <div class="container-fluid fixed-top">
                
                <div class="container px-0">
                    <nav class="navbar navbar-light bg-white navbar-expand-xl">
                        <a href="index.html" class="navbar-brand"><h1 class="text-primary display-6">Pizza Order System</h1></a>
                       
                        <div class="collapse navbar-collapse bg-white" id="navbarCollapse">
                        

                                <div class="navbar-nav mx-auto">
                                    <a href="index.html" class="nav-item nav-link active" routerLink='order'>Order</a>
                                    <br>
                                    <a href="index.html" class="nav-item nav-link active" routerLink='list'>List</a><br>
                                    
                                    
                                    
                                </div>
                                
                            
    
                        </div>
                    </nav>
                </div>
            </div>
            <!-- Navbar End -->
    
    
    <router-outlet></router-outlet>
</div>